@model Mason.Web.Models.ViewModels.Session.PasswordModel
@{
	ViewBag.Title = "Change Password";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm("UpdatePassword", "Session", FormMethod.Post)) {
	@Html.LabelFor(m => m.CurrentPassword)
	@Html.EditorFor(m => m.CurrentPassword)
	@Html.ValidationMessageFor(m => m.CurrentPassword)
	
	@Html.LabelFor(m => m.NewPassword)
	@Html.EditorFor(m => m.NewPassword)
	@Html.ValidationMessageFor(m => m.NewPassword)

	@Html.LabelFor(m => m.ConfirmNewPassword)
	@Html.EditorFor(m => m.ConfirmNewPassword)
	@Html.ValidationMessageFor(m => m.ConfirmNewPassword)

	<button type="submit">Change Password</button>
}
